<!DOCTYPE html>
<html lang="ko">
<head>
    <title><%= title %></title>
</head>
<body>
<table>
    <tr>
        <th>기준일</th>
        <th>기준시간</th>
        <th>확진자 수</th>
        <th>격리해제 수</th>
        <th>검사진행 수</th>
        <th>사망자 수</th>
        <th>치료중 환자 수</th>
        <th>결과 음성 수</th>
        <th>누적 검사 수</th>
        <th>누적 검사 완료 수</th>
        <th>누적 환진률</th>
    </tr>
    <% for (let data of dataItem) {%>
    <tr>
        <td><%= data.stateDt._text %></td>
        <td><%= data.stateTime._text %></td>
        <td><%= data.decideCnt._text %></td>
        <td><%= data.clearCnt._text %></td>
        <td><%= data.examCnt._text %></td>
        <td><%= data.careCnt._text %></td>
        <td><%= data.deathCnt._text %></td>
        <td><%= data.resutlNegCnt._text %></td>
        <td><%= data.accExamCnt._text %></td>
        <td><%= data.accExamCompCnt._text %></td>
        <td><%= data.accDefRate._text %></td>
    </tr>
    <% } %>
</table>
</body>
<style>
  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
</style>
</html>

